<section class="main_header">
    <div class="container">
        <div class="content_header">
            <div class="hideText menu_show open" id="menu_show">menu_show</div>
            <div class="main_logo">
                <a href=""><span class="logo"></span></a>
                <h2 class="txt_logo">TOM N TOMS COFFEE</h2>
            </div>
            <div class="box_time">
                <div class="time">
                    <span class="hour">11</span>:<span class="min">11</span>:<span class="sec">11</span>
                </div>
                <div class="day">
                    <span class="year">11</span>.<span class="mon">11</span>.<span class="days">11</span>
                    (목)</div>
            </div>
        </div>
    </div>
</section>